.WrapperHeadline {
  margin: 2rem 0;
}

h3 {
  font-size: 28px;
  letter-spacing: -1px;
  white-space: nowrap;

  @media only screen and (min-width: 400px) {
    font-size: 37px;
  }
}

h5 {
  color: #989898;
  font-size: 15px;
  margin-top: 1rem;
  font-weight: 200;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);

  @media only screen and (min-width: 400px) {
    font-size: 1.2rem;
  }
}
