@import 'styles/reset';
@import 'styles/config';

.Container {
  background: #FFFFFF;
  box-shadow: 0px 0px 2px #d4d4d3;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-evenly;
  max-width: 450px;
  padding: 35px;
  width: calc(90% - 70px);

  @media only screen and (min-width: 1024px) {
    justify-content: space-around;
    padding: 65px;
    width: 100%;
  }

  @media only screen and (min-width: 1024px) and (max-height: 629px) {
    height: auto;
  }
}
